.now-playing-bottom-bar-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.now-playing-bottom-bar {
  margin-left: 283px;
  width: 1219px;
  height: 100px;
  background-color: rgb(180, 146, 163);
}
