.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music-central-app-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.music-central-app-background {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  /* filter: blur(10px);
  transform: scale(1.5); */
}

/* .music-central-app-blur {
  position: absolute;
  height: 100vh;
  width: 100vw;
  filter: blur(50px);
} */

.music-central-app {
  z-index: 2;
  position: absolute;
  height: 100vh;
  width: 100vw;
  /* display: absolute; */
}

.music-central-album-art {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.music-central-editor-container{
  position: relative;
  z-index: 2;
}

.lyrics-editing-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 3;
}

.play-pause-btn {
  padding: 5px;
  cursor: pointer;
  /* width: 50px;
  height: 50px; */
  /* background-color: aqua; */
}

.ms-center {
  display: flex;
  justify-content: center;
}

.ms-bottom {
  position: absolute;
  bottom: 50px;
}

.ms-flex-bottom {
  align-self: flex-end;
}

.ms-100vw {
  width: 100vw;
}

.ms-100vh {
  height: 100vh;
}

.ms-box-shadow1 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ms-button {
  cursor: pointer;
}

.ms-row {
  display: flex;
}
